{% extends 'meta/base_logged_in.html' %}

{% block nav_org %}active{% endblock %}
{% block nav_stats %}active{% endblock %}

{% block content %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous" />

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Titel", "Anzahl"],
          ["Verkauft", {{ sum_articles_sold }}],
          ["Nicht Verkauft", {{ sum_articles_current - sum_articles_sold }}]
        ]);

        var options = {
          title: "Artikel",
        };

        var chart = new google.visualization.PieChart(
          document.getElementById("article-chart")
        );

        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
      	["Titel", "Anzahl"],
		    ["Verkäufer mit Artikeln", {{ num_sellers_with_articles - num_already_checkedin }}],
      	["Registrierung abgeschlossen", {{ num_already_checkedin }}],
      	["Checked-In", {{ num_already_checkedin }}]
        ]);

        var options = {
      	title: "Verkäufer",
        };

        var chart = new google.visualization.PieChart(
      	document.getElementById("seller-chart")
        );

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ["Basar", "Artikel", { role: "style" } ],
            ["23 FJ verkauft", {{ num_articles_basar_23_1_sold }}, "silver"],
            ["23 FJ unverkauft", {{ num_articles_basar_23_1_unsold }}, "silver"],
            ["24 FJ verkauft", {{ num_articles_basar_24_1_sold }}, "gold"],
            ["24 FJ unverkauft", {{ num_articles_basar_24_1_unsold }}, "gold"],
            ["24 Herbst verkauft", {{ num_articles_basar_24_2_sold }}, "blue"],
            ["24 Herbst unverkauft", {{ num_articles_basar_24_2_unsold }}, "blue"],
            ["25 FJ verkauft", {{ num_articles_basar_25_1_sold }}, "yellow"],
            ["25 FJ unverkauft", {{ num_articles_basar_25_1_unsold }}, "yellow"],
            ["25 Herbst verkauft", {{ num_articles_basar_25_2_sold }}, "orange"],
            ["25 Herbst unverkauft", {{ num_articles_basar_25_2_unsold }}, "orange"],
          ]);
    
          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);
    
          var options = {
            title: "Anzahl Artikel pro Basar",
            width: 900,
            height: 400,
            bar: {groupWidth: "80%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("seller-history-chart"));
          chart.draw(view, options);
      }
      </script>

    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Statistiken</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div id="article-chart" style="width: 600px; height: 500px"></div>
        </div>
        <div class="col">
          <div id="seller-chart" style="width: 600px; height: 500px"></div>
        </div>
      </div>
      <div class="row">
        <div id="seller-history-chart" style="width: 600px; height: 500px"></div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <tr>
              <th scope="col">Artikel gesamt</th>
              <td>{{ sum_articles_current }}</td>
            </tr>
            <tr>
              <th scope="col">Artikel verkauft</th>
              <td>{{ sum_articles_sold }}</td>
            </tr>
            <tr>
              <th scope="col">Verkäufer mit aktuellen Artikeln</th>
              <td>{{ num_sellers_with_articles }}</td>
            </tr>
            <tr>
              <th scope="col">Verkäufer eingecheckt</th>
              <td>{{ num_already_checkedin }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
