{% include 'header.html' %}
<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-5 shadow mt-5">
            <h1>Add article</h1>
            <form method="POST" action="/article/add">
                <div class="form-outline mb-4">
                    <input type="text" id="name" name="name" class="form-control">
                    <label class="form-label" for="name">Name</label>
                </div>
                
                <div class="form-outline mb-4">
                    <input type="text" id="price" name="price" class="form-control">
                    <label class="form-label" for="price">Price</label>
                </div>
                <input type="submit" class="btn btn-primary btn-block mb-4" value="Submit">
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}