{% include 'header.html' %}


<div class="container mt-2">
    <div class="row">
    {% for article in articles %}
        <div class="col-4">
            {{ article.name }} <br> 
            <font style="color:red">{{ article.seller }}</font> <br>
            {{ article.clothing_size }} <br> 
            {{ article.price }} €<br>
            <img src="{{ qrcode(url_template + article.uuid, error_correction='H', box_size=5) }}">
        </div>
    {% if loop.index is divisibleby 3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
</div>

{% include 'footer.html' %}