{% include 'header.html' %}

<script>
  function validateForm() {
    let price = document.forms["add_article"]["price"].value;
    let name = document.forms["add_article"]["name"].value;
    if (price == "") {
      alert("Bitte einen Preis vergeben.");
      return false;
    }

    if (name == "") {
      alert("Bitte einen Namen vergeben.");
      return false;
    }

    if (price.at(-1) != "0") {
      alert("Bitte Hinweise zur Preisgestaltung beachten!");
      return false;
    }

    if (price.at(-3) != ",") {
      alert("Bitte Hinweise zur Preisgestaltung beachten!");
      return false;
    }
  }

  function set_comment() {
    articleType = document.getElementById("article-type").value;

    switch (articleType) {
      case "cloth":
        document.getElementById("comment").placeholder = "Kleidungs-Größe";
        document.getElementById("comment").required = true;
        document.getElementById("warning").hidden = true;
        break;
      case "toy":
        document.getElementById("comment").placeholder =
          "Zustand des Spielzeugs";
        document.getElementById("comment").required = true;
        document.getElementById("warning").textContent =
          "Bitte geben Sie im nachfolgenden Feld kurz den Zustand des Artikel an (z.B. vollständig, unvollständig)";
        document.getElementById("warning").hidden = false;
        break;
      case "book":
        document.getElementById("comment").placeholder =
          "Kommentar (kann frei gelassen werden)";
        document.getElementById("comment").required = false;
        document.getElementById("warning").textContent =
          "Bitte gehen Sie sicher, dass das Buch für Kinder geeignet und vollständig ist.";
        document.getElementById("warning").hidden = false;
        break;
      case "other":
        document.getElementById("comment").placeholder =
          "Kommentar (kann frei gelassen werden)";
        document.getElementById("comment").required = false;
        document.getElementById("warning").hidden = true;
        break;
    }
  }
</script>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 shadow mt-5">
      <h1>Artikel hinzufügen</h1>
      <form
        name="add_article"
        onsubmit="return validateForm()"
        method="POST"
        action="/article/add"
      >
        <div class="form-outline mb-4">
          <input type="text" id="name" name="name" class="form-control" />
          <label class="form-label" for="name"
            >Name des Artikels (Erscheint später auf dem Ettiket)</label
          >
        </div>

        <div class="form-outline mb-4">
          <input type="text" id="price" name="price" class="form-control" />
          <label class="form-label" for="price"
            >Preis (im Format XX,X0 ohne €-Zeichen). Bitte beachten Sie, dass
            die kleinste Cent-Stelle immer auf 0 abgerundet wird.</label
          >
        </div>

        <div class="form-outline mb-4">
          <select
            id="article-type"
            class="form-select"
            onchange="set_comment()"
          >
            <option value="cloth" selected>Kleidung</option>
            <option value="toy">Spielzeug</option>
            <option value="book">Buch</option>
            <option value="other">Anderes</option>
          </select>
        </div>

        <div
          id="warning"
          class="alert alert-primary"
          role="alert"
          hidden="true"
        ></div>

        <div class="form-outline mb-4">
          <input
            type="text"
            id="comment"
            name="comment"
            class="form-control"
            required
            placeholder="Kleidungs-Größe"
          />
        </div>
        <input
          type="submit"
          class="btn btn-primary btn-block mb-4"
          value="Abschicken"
        />
      </form>
    </div>
  </div>
</div>

{% include 'footer.html' %}
