{% include 'header.html' %}

{% if org %}
<!-- Navbar -->
<nav class="navbar navbar-light bg-light navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Kinderbaser Elsendorf</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/overview">Artikel übersicht</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/overview/qr">QR-Codes</a>
			  </li>
			  {% if org %}
			  <li class="nav-item">
				<a class="nav-link" href="/card/active/">Einkaufswagen</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/sellers/">Verkäufer-Übersicht</a>
			  </li>
			  {% endif %}
			  <li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			  </li>
			</ul>
		  </div>
	</div>
</nav>
{% endif %}

<div class="container">
	<div class="row mt-5">
		<div class="col">
			<table class="table table-striped">
				<tr>
					<td scope="col">Name</th>
					<td scope="col">{{ article.name }}</th>
				</tr>
				<tr>
					<td scope="col">Verkäufer</th>
					<td scope="col">{{ article.seller.id }}</th>
				</tr>
				<tr>
					<td scope="col">Preis</th>
					<td scope="col">{{ article.price|as_euro }}</th>
				</tr>
				<tr>
					<td scope="col">Kleider-Größe</th>
					<td scope="col">{{ article.clothing_size }}</th>
				</tr>
				<tr>
					<td scope="col">Verkauft</th>
					<td scope="col">{{ article.sold|to_german }}</th>
				</tr>
			</table>
		</div>
	</div>
	{% if not article.sold and org and article.current %}
	<div class="row d-flex justify-content-center align-items-center mt-1">
		<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 shadow">
			<form method="POST" action="/card/active/add/{{ article.uuid }}/">
				<input type="submit" class="btn btn-primary btn-block mb-4 mt-4" value="Hinzufügen">
			</form>
		</div>
	</div>
	{% endif %}
	{% if not article.current %}
	<div class="row d-flex justify-content-center align-items-center mt-1">
		<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 shadow">
			<form method="POST" action="/article/{{ article.uuid }}/reactivate">
				<input type="submit" class="btn btn-primary btn-block mb-4 mt-4" value="Reaktivieren">
			</form>
		</div>
	</div>
	{% endif %}
</div>



{% include 'footer.html' %}
