{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Informationen</h1>
        </div>
    </div>

    <div class="row">
		<div class="col">
			<table class="table table-striped">
				<tr>
					<th scope="col">ID</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
					<th scope="col">E-Mail</th>
                    <td>{{ user.email }}</td>
                </tr>
			</table> 
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h1>Nicht verkaufte Artikel über 10€</h1>
			<table class="table table-striped">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Verkauft</th>
					<th scope="col">Preis</th>
				</tr>
				{% for article in articles_unsold -%}
				<tr>
					<td>{{ article.name }}</td>
					<td>{{ article.sold|to_german }}</td>
					<td>{{ article.price|as_euro }}</td>
				</tr>
				{% endfor %}
			</table> 
		</div>
	</div>

    <div class="row">
		<div class="col">
			<h1>Kostenübersicht</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<tr>
					<th scope="col">Summe Verkauft:</th>
					<td>{{ sold_sum|as_euro }}</td>
				</tr>
			</table> 
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="btn btn-primary btn-block mt-3 mb-3" onclick="window.print();return false;">Drucken</button>
		</div>
	</div>
</div>

{% include 'footer.html' %}