{% extends 'meta/base_logged_in.html' %} {% block nav_dashboard %}active{%
endblock %} {% block content %}
<div class="container mt-2">
  <div class="row">
    <div class="col">
      <h1>Übersicht</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h2>Ihre Daten</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <tr>
          <th scope="col">Verkäufer-ID</th>
          <td>{{ user.id }}</td>
        </tr>
        <tr>
          <th scope="col">E-Mail</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th scope="col">Anzahl aktuelle Artikel</th>
          <td>{{ num_all }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h2>Gebühren</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        Die Vor-Ort-Gebühr beträgt 5% des Artikelwerts, jedoch maximal 2,50€ pro
        Artikel (was einem Artikel-Wert von 50€ entspricht). Von der Gebühr
        werden die Kosten des Basars gedeckt. Die verbleibenden Einnahmen werden
        an wohltätige Organisationen gespendet.
      </div>
      <table class="table table-striped">
        <tr>
          <th scope="col">Anzahl der Artikel unter 50€</th>
          <td>{{ num_lt_fifty }}</td>
        </tr>
        <tr>
          <th scope="col">Summe Preise der Artikel unter 50€</th>
          <td>{{ sum_lt_fifty|as_euro }}</td>
        </tr>
        <tr>
          <th scope="col">
            Vor-Ort-Gebühr für Artikel unter 50€ (5% des Artikel-Preises)
          </th>
          <td>{{ provision_lt_fifty|as_euro }}</td>
        </tr>
        <tr>
          <th scope="col">Anzahl der Artikel über 50€</th>
          <td>{{ num_gte_fifty }}</td>
        </tr>
        <tr>
          <th scope="col">
            Gebühr für Artikel über / gleich 50€ (2.50€ je Artikel)
          </th>
          <td>{{ provision_gte_fifty|as_euro }}</td>
        </tr>
        <tr>
          <th scope="col">Gesamt anfallende Vor-Ort-Gebühr</th>
          <td><b>{{ sum_provision|as_euro }}</b></td>
        </tr>
      </table>
    </div>
    <div class="alert alert-warning" role="alert">
      Bitte bringen Sie die Vor-Ort-Gebühr von {{ sum_provision|as_euro }}
      passend zur Abgabe der Artikel mit!
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h2>Einnahmen</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        Diese Tabelle aktualisiert sich mit dem Neuladen der Seite.
      </div>
      <table class="table table-striped">
        <tr>
          <th scope="col">Maximal mögliche Gesamt-Einnahmen</th>
          <td>{{ sum_all|as_euro }}</td>
        </tr>
        <tr>
          <th scope="col">Bisher verkaufte Artikel</th>
          <td>{{ num_sold_articles }}</td>
        </tr>
        <tr>
          <th scope="col">Bisherige Einnahmen</th>
          <td>{{ sum_sold|as_euro }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <div class="col">
      <h1>Ablaufinformationen</h1>
    </div>
  </div>

  <div class="row">
    <ul class="list-group list-group-flush">
      <li class="list-group-item active">Was ist neu</li>
      <li class="list-group-item">
        "QR-Codes" wurde zur Einfachheit in "Ettiketen" umbenannt.
      </li>
      <li class="list-group-item">
        Sie müssen keinen Zettel mehr mitbringen oder sich online (neben dem
        Anlegen des Accounts) registrieren. Das spart Papier und Aufwand. Sie
        können Ihre Artikel bis zur Abgabe bearbeiten.
      </li>
      <li class="list-group-item">
        Benutzer können nun selbst Ihr Passwort zurücksetzten.
      </li>
    </ul>

    <ul class="list-group list-group-flush mt-3">
      <li class="list-group-item active">Was ist wie vorher</li>
      <li class="list-group-item">
        Die Vor-Ort-Gebühr beträgt 5% des eingetragenen Preises bei Artikeln bis
        50€ (wie bisher). Neu ist, dass für Artikel ab inkl. 50€ pauschal nur
        noch 2.50€ Vor-Ort-Gebühr anfallen.
      </li>
      <li class="list-group-item">
        Ihre unverkauften Artikel vorheriger Basare können Sie durch das Scannen
        der alten Label wieder dem aktuellen Basar hinzufügen. Dazu müssen Sie
        sich einfach am Handy mit ihrem Account anmelden. Scannen Sie
        anschließend den QR-Code auf dem Artikel, den Sie hinzufügen wollen und
        drücken Sie abschließend auf "Reaktivieren". Nun sollte der Artikel in
        Ihrer "Artikel Übersicht" erscheinen. Der Gewinn aus Artikeln aus
        vorherigen Basaren, die ohne Scan auf dem aktuellen Basar angeboten
        werden, kommt zu 100% dem Verein zugute. Eine genauere Anleitung steht
        Ihnen <a href="https://kinderbasar-elsendorf.de/anleitung/">hier</a> zur
        Verfügung.
      </li>
      <li class="list-group-item">
        Es wird wieder eine Abgabekontrolle geben - jedoch nur für Artikel ab
        inkl. 10€. Halten Sie diese Artikel bitte bei der Abgabe bereit.
      </li>
      <li class="list-group-item">
        Bringen Sie bitte die Vor-Ort-Gebühr bei der Abgabe passend mit. Zur
        Platzersparnis wäre die Anlieferung der Ware in Klappboxen
        wünschenswert.
      </li>
      <li class="list-group-item">
        Drucken Sie die Labels über den Menüpunkt "QR-Codes" aus und schneiden
        diese an den vorgegebenen Linien aus. Die Label dürfen laminiert oder
        mit durchsichtigem Klebeband verstärkt werden. Befestigen Sie die
        angefertigten Label gut sichtbar und abreiß-sicher an der Ware. Die
        QR-Codes dürfen dabei nicht gelocht oder geknickt werden.
      </li>
      <li class="list-group-item">
        Batteriebetriebene Geräte müssen mit vollen Batterien verkauft werden.
      </li>
      <li class="list-group-item">
        Sie können die Ettiketten auch in schüben ausdrücken - der Code auf den
        Ettiketen bleibt auch bei mehrmaligem Ausdruck gleich!
      </li>
      <li class="list-group-item">
        Beachten Sie bitte unsere FAQ Seite auf unserer Homepage.
      </li>
      <li class="list-group-item">
        Für verloren gegangene Ware können wir keine Haftung übernehmen!
      </li>
    </ul>
  </div>
</div>
{% endblock %}
