    </body>
    <footer class="mt-auto d-print-none">
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col center-text">
                    <a href="https://kinderbasar-elsendorf.de/" class="link-primary">Weitere Informationen</a>
                </div>
                <div class="col center-text">
                    
                </div>
                <div class="col center-text">
                    <a href="https://kinderbasar-elsendorf.de/?page_id=42" class="link-primary">Impressum</a>
                </div>
            </div>
        </div>
    </footer>
</html>