{% include 'meta/header.html' %}

<style>
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .subpage {
        /*padding: 0.5cm;*/
        /*border: 5px red solid;*/
        /*width: 210mm;*/
        height: 297mm;
        page-break-after: always;        
        /*outline: 2cm #FFEAEA solid;*/
    }
    .lastpage {
        /*padding: 0.5cm;*/
        /*border: 5px red solid;*/
        /*width: 210mm;*/
        height: 297mm;
        /*outline: 2cm #FFEAEA solid;*/
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>

<div class="container mt-2">
    <div class="subpage">
        <div class="row">
            {% for article in articles %}
            <div class="col-4 mt-2 border border-dark border-2 pb-2">
                {{ article.name|truncate(35) }} <br>
                <font style="color:red; text-decoration: underline;">Verkäufer:
                    {{ article.seller.id }}</font> <br>
                {% if article.comment != "" %}
                {{ article.comment }}<br>
                {% else %}
                <br>
                {% endif %}
                Preis: {{ article.price|as_euro }}<br>
                <img
                    src="{{ qrcode(url_template + article.uuid, box_size=4, border=1) }}">
            </div>
            {% if loop.index is divisibleby 15 %}
        </div>
    </div>
    <div class="subpage">
        <div class="row">
            {% elif loop.index is divisibleby 3 %}
        </div>
        <div class="row">
            {% endif %}

            {% endfor %}
        </div>
    </div>
    <div class="subpage">
        <div class="row">
            <div class="col mt-2 border border-dark border-2 pb-2">
                Verkäufer-Nummer (für Einkaufs-Körbe):<br>
                <center>
                    <font style="text-align: center; font-size: 14cm;"> {{
                        user.id }} </font>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2 border border-dark border-2 pb-2">
                Verkäufer-Nummer (für Einkaufs-Körbe):<br>
                <center>
                    <font style="text-align: center; font-size: 14cm;"> {{
                        user.id }} </font>
                </center>
            </div>
        </div>
    </div>
    <div class="lastpage">
        <div class="row mt-5">
            <div class="col">
                <h1>Allgemeine Hinweise</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Bitte bringen Sie die Ettiketen gut von außen sichtbar an.</p>
                <p>Bitte stechen Sie keine Löcher durch die Ettiketen.</p>
                <p>Das Laminieren von Ettiketen ist möglich - bitte verwenden Sie
                    jedoch nach Möglichkeit wenig reflektierende Folie</p>
                <p>Bitte verwenden Sie keine Sicherheitsnadeln zum Anbringen der Ettiketen</p>
                <p>Nach Möglichkeit bitten wir Sie Ihre Artikel in Klappboxen
                    oder sonstigen, stabilen aber platzsparenden Boxen
                    anzuliefern</p>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h1>Hinweise zu Artikeln</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Nicht-Vollständige Artikel müssen entsprechend mit einem
                    Kommentar versehen werden.</p>
                <p>Bitte achten Sie auf Kinder-Freundlichkeit der Artikel (das
                    gilt auch für Bücher o.Ä.)</p>
                <p>Batteriebetriebene Geräte müssen mit vollen Batterien
                    verkauft werden.</p>
                <p>Artikel, die nicht diesen Kriterien entsprechen, werden ohne
                    Rückerstattung der Vor-Ort-Gebühr aus dem Verkauf
                    entfernt.</p>
            </div>
        </div>
    </div>
</div>
