{% include 'meta/header.html' %}

<style>
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 12pt "Tahoma";
  }
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  @page {
    size: A4;
    margin: 0.5cm;
  }
  @media print {
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }
</style>

<div class="container mt-2">
  <div class="row">
    {% for article in articles %}
    <div class="col-4 mt-2 border border-dark border-2 pb-2">
      {{ article.name|truncate(35) }} <br />
      <font style="color: red; text-decoration: underline"
        >Verkäufer: {{ article.seller.id }}</font
      >
      <br />
      {% if article.comment != "" %} {{ article.comment }}<br />
      {% else %}
      <br />
      {% endif %} Preis: {{ article.price|as_euro }}<br />
      <img
        src="{{ qrcode(url_template + article.uuid, box_size=4, border=1) }}"
      />
    </div>
    {% if loop.index is divisibleby 15 %}
  </div>

  <div class="row">{% elif loop.index is divisibleby 3 %}</div>
  <div class="row">{% endif %} {% endfor %}</div>
</div>
<div class="container mt-2">
  <div class="row">
    <div class="col mt-2 border border-dark border-2 pb-2">
      Verkäufer-Nummer (für Einkaufs-Körbe):<br />
      <center>
        <font style="text-align: center; font-size: 7cm"> {{ user.id }} </font>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2 border border-dark border-2 pb-2">
      Verkäufer-Nummer (für Einkaufs-Körbe):<br />
      <center>
        <font style="text-align: center; font-size: 7cm"> {{ user.id }} </font>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2 border border-dark border-2 pb-2">
      Verkäufer-Nummer (für Einkaufs-Körbe):<br />
      <center>
        <font style="text-align: center; font-size: 7cm"> {{ user.id }} </font>
      </center>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="row mt-5">
    <div class="col">
      <h1>Artikel über 10€</h1>
      Diese Artikel werden bei der Abgabe kontrolliert - halten Sie sie daher
      bitte für eine schnelle Abwicklung griffbereit. Falls Sie einen der
      Artikel nicht abgeben, entfernen Sie diesen bitte auf der Übersicht.
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <table class="table table-striped">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Kleider-Größe</th>
          <th scope="col">Preis</th>
        </tr>
        {% for article in articles -%} {% if article.price > 999 %}
        <tr>
          <td>{{ article.name }}</td>
          <td>{{ article.comment }}</td>
          <td>{{ article.price|as_euro }}</td>
        </tr>
        {% endif %} {% endfor %}
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h1>Allgemeine Hinweise</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Bitte bringen Sie die Etiketten gut von außen sichtbar an.</p>
      <p>Bitte stechen Sie keine Löcher durch die Etiketten.</p>
      <p>
        Das Laminieren von Etiketten ist möglich - bitte verwenden Sie jedoch
        nach Möglichkeit wenig reflektierende Folie.
      </p>
      <p>
        Bitte verwenden Sie keine Sicherheitsnadeln zum Anbringen der Etiketten.
      </p>
      <p>
        Nach Möglichkeit bitten wir Sie Ihre Artikel in Klappboxen oder
        sonstigen, stabilen aber platzsparenden Boxen anzuliefern.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h1>Hinweise zu Artikeln</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Nicht-Vollständige Artikel müssen entsprechend mit einem Kommentar
        versehen werden.
      </p>
      <p>
        Bitte achten Sie auf Kinder-Freundlichkeit der Artikel (das gilt auch
        für Bücher o.Ä.).
      </p>
      <p>
        Batteriebetriebene Geräte müssen mit vollen Batterien verkauft werden.
      </p>
      <p>
        Artikel, die nicht diesen Kriterien entsprechen, werden ohne
        Rückerstattung der Vor-Ort-Gebühr aus dem Verkauf entfernt.
      </p>
    </div>
  </div>
</div>
