{% include 'header.html' %}


<div class="container mt-2">
    <div class="row">
    {% for article in articles %}
        <div class="col-4 mt-2 border border-dark border-2 pb-2">
            {{ article.name }} <br> 
            <font style="color:red">{{ article.seller.id }}</font> <br>
            {% if article.clothing_size != "" %}
            {{ article.clothing_size }}<br>
            {% endif %}
            {{ article.price|as_euro }}<br>
            <img src="{{ qrcode(url_template + article.uuid, error_correction='H', box_size=3) }}">
        </div>
    {% if loop.index is divisibleby 3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
    <div class="row">
		<div class="col">
			<button class="btn btn-primary btn-block mt-3 mb-3" onclick="window.print();return false;">Drucken</button>
		</div>
	</div>
</div>

{% include 'footer.html' %}