{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Informationen</h1>
        </div>
    </div>

    <div class="row">
		<div class="col">
			<table class="table table-striped">
				<tr>
					<th scope="col">ID</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
					<th scope="col">E-Mail</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
					<th scope="col">Nachname, Vorname (bitte angeben)</th>
                    <td><input type="text" /></td>
                </tr>
                <tr>
					<th scope="col">Telefonnummer (bitte angeben)</th>
                    <td></td>
                </tr>
			</table> 
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h1>Artikelübersicht</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Kleider-Größe</th>
					<th scope="col">Preis</th>
				</tr>
				{% for article in articles -%}
				<tr>
					<td>{{ article.name }}</td>
					<td>{{ article.clothing_size }}</td>
					<td>{{ article.price|as_euro }}</td>
				</tr>
				{% endfor %}
			</table> 
		</div>
	</div>

    <div class="row">
		<div class="col">
			<h1>Kostenübersicht</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<tr>
					<th scope="col">Summe Artikel:</th>
					<td>{{ article_sum|as_euro }}</td>
				</tr>
				<tr>
                    <th scope="col">Vor-Ort-Gebühr bei Abgabe:</th>
                    <td>{{ registration_fee|as_euro }}</td>
                </tr>
			</table> 
		</div>
	</div>

    <div class="row mt-5">
		<div class="col">
			<h1>Ablaufinformationen</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
            <p>Bitte nehme diesen Zettel am Tag der Abgabe mit!</p>

            Die Vor-Ort-Gebühr beträgt 5% des eingetragenen Preises.<br>

			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div>
	</div>
</div>

{% include 'footer.html' %}