{% include 'header.html' %}

<nav class="navbar navbar-light bg-light navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Kinderbaser Elsendorf</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/login">Login</a>
			  </li>
			</ul>
		  </div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col">
			<h1>{{ message }}</h1>
            <br>
                Vielen Dank für die Registierung. Sie sollten demnächst eine E-Mail mit einem Bestätigungslink erhalten - bitte benutzen Sie diesen. Anschließend können Sie sich in Ihren Account einloggen.
            <br><br>
            Weitere wichtige Hinweise:
            <ul class="list-group">
                <li class="list-group-item"><a href="https://kinderbasar-elsendorf.de/?page_id=54">Ablauf</a></li>
                <li class="list-group-item"><a href="https://kinderbasar-elsendorf.de/?page_id=63">Anleitung zur Webseite</a></li>
                <li class="list-group-item"><a href="https://kinderbasar-elsendorf.de/?page_id=56">FAQs</a></li>
              </ul>
		</div>
	</div>
</div>




{% include 'footer.html' %}